
.img-thumbnail{
    border: 0;
    margin: 10px;
}

.nav_black {
   background-color: blue; 
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.img-compra{
   font-size: 20px;
   
}

.img-carrito{
    width: 200px;
    padding: 20px;
}

.modal-contenedor{
    display: flex;
    align-items: center;
}

.centrado{
    justify-content: center;
    flex: auto;
    width: 10px;
}
.edit_titulo{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.buttonComprar{
    width: 100%;
}



#contenedor  {
    justify-content: center;

}


.carousel-item {
    animation: slide-in-out 0.1s ease-in-out;
  }


/*boton busqueda */
.custom-search {
    font-size: 1.1rem; /* Tamaño de fuente personalizado */
    padding: 0.5rem 1rem; /* Padding personalizado */
    width: 600px;
  }

/* nav principal */

.bg-primari {
    background-color: #042943;
    padding: 15px;
}

.bg-color {
    background-color: dodgerblue;
    height: 30px;
}

.navbar-nav .nav-link {
    color: rgb(241, 241, 245); /* Cambia "blue" al color que desees */
  }



/* Transición imagenes*/

  .image-container {
    position: relative;
    overflow: hidden;
    
  }
  
  
  .image-container:hover img {
    transform: scale(1.1);
  }



  .newsletter {
    background: #042943;
    height: 20vh; /* Esto es para hacer que el div ocupe toda la altura de la pantalla */
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px;
    
}

.newsletter h3 {
  color: aliceblue;
  height: 30px;
  
}


/*achicar boton
*/
.smaller-btn {
  
  height: 40px;
  margin: 0px;
  
}


.custom-card {
  width: 15rem; /* Ancho personalizado de la card */
}

.custom-card .card-img-top {
  height: 300px; /* Altura personalizada de la imagen */
  object-fit: cover; /* Ajusta la imagen para que se ajuste dentro del contenedor */
}

.banner{
  width: 100% !important;
}